﻿@font-face {
    font-family: 'Berlin';
    src: url("font/Berlin_Sans_FB_Demi_Bold/BRLNSR.TTF") format('truetype');
}

body,
html {
    height: 100%;
}

.x-body{
    font-size: 100% !important;
}

.bold {
    font-weight: bolder;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h3 {
    font-family: "Berlin";
}

.row {
    --bs-gutter-x: 0;
}

.border-none {
    border: none;
}

.text-small {
    font-size: 75%;
}

.text-large {
    font-size: 125%;
}

.text-red {
    color: rgb(251, 105, 105);
}

.border-left-right {
    border-left: 1px solid rgb(112, 112, 112);
    border-right: 1px solid rgb(112, 112, 112);
}

.mentionslegales {
    height: 750px;
}

.underline {
    text-decoration: underline;
}

.separation-line {
    border-bottom: 1px solid rgb(112, 112, 112, 0.3);
}

/* CONNEXION */

.connexion {
    height: 700px;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    padding: 2%;
}

.bg-img {
    height: 100%;
    background-image: url("/img/BandeauCantine.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(5px);
}

.icon-img {
    padding: 0px 25px 25px;
    display: flex;
    justify-content: center;
}

img .icon-img {
    width: 60%;
}

.text-grey {
    color: rgb(112, 112, 112);
}

.btn,
.btn:disabled {
    background-color: rgb(105, 201, 251);
    border-color: rgb(105, 201, 251);
}

.btn:hover {
    background-color: rgb(251, 105, 105);
    border-color: rgb(251, 105, 105);
}

.form-line,
.form-line:focus {
    width: 100%;
    border: none;
    outline: 0;
}

.border-bottom-blue,
.border-bottom-blue:focus {
    border-bottom: 2px solid rgb(105, 201, 251);
}

.link-grey {
    color: rgb(112, 112, 112);
    text-decoration: none;
}

.link-grey:hover {
    color: rgb(112, 112, 112);
    text-decoration: underline;
}

.link-red {
    color: rgb(251, 105, 105);
    text-decoration: none;
}

.link-red:hover {
    color: rgb(251, 105, 105);
    text-decoration: underline;
}

/* FOOTER */

footer a,
footer a:hover {
    color: rgb(112, 112, 112);
}

/* CLASSIQUE */

/* HEADER BANNIERE */

header {
    width: 100%;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo {
    position: absolute;
    left: 3%;
    top: 20%;
    width: 40%;
}

.disconnect {
    display: none;
    background-color: rgba(76, 81, 90, 0.4);
    position: absolute;
    top: 20%;
    right: 2%;
    color: white;
    text-decoration: none;
}

.disconnect:hover {
    background-color: rgb(255, 0, 0, 0.2);
    color: white;
    text-decoration: none;
}

/* NAV */
#navMobileLabel {
    display: block;
    background-color: rgba(76, 81, 90, 0.5);
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 30px;
    right: 20px;
}

#navMobileLabel img {
    width: 50px;
}

#navMobile {
    width: 70%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    box-shadow: 3px 3px 10px rgb(124, 173, 199, 0.5);
}

#navMobileItems {
    display: none;
    padding-top: 30px;
}

#navDesktop {
    display: none;
}

.row nav {
    padding-right: 0;
}

nav ul,
nav li {
    width: 100%;
}

ul {
    padding: 0;
}

nav a:hover {
    color: rgb(105, 201, 251);
    padding-left: 15%;
}

nav a {
    text-decoration: none;
    color: black;
    padding-left: 15%;
}

.icon-solde::before {
    content: url("/img/icon/icon_solde_grey.png");
}

.icon-solde:hover::before {
    content: url("/img/icon/icon_solde_blue.png");
}

.select-solde::before {
    content: url("/img/icon/icon_solde_blue.png");
}

.icon-home::before {
    content: url("/img/icon/icon_home_grey.png");
}

.icon-home:hover::before {
    content: url("/img/icon/icon_home_blue.png");
}

.select-home::before {
    content: url("/img/icon/icon_home_blue.png");
}

.icon-perso::before {
    content: url("/img/icon/icon_perso_grey.png");
}

.icon-perso:hover::before {
    content: url("/img/icon/icon_perso_blue.png");
}

.select-perso::before {
    content: url("/img/icon/icon_perso_blue.png");
}

.icon-inscription::before {
    content: url("/img/icon/icon_inscription_grey.png");
}

.icon-inscription:hover::before {
    content: url("/img/icon/icon_inscription_blue.png");
}

.select-inscription::before {
    content: url("/img/icon/icon_inscription_blue.png");
}

.icon-facture::before {
    content: url("/img/icon/icon_facture_grey.png");
}

.icon-facture:hover::before {
    content: url("/img/icon/icon_facture_blue.png");
}

.select-facture::before {
    content: url("/img/icon/icon_facture_blue.png");
}

.icon-menu::before {
    content: url("/img/icon/icon_menu_grey.png");
}

.icon-menu:hover::before {
    content: url("/img/icon/icon_menu_blue.png");
}

.select-menu::before {
    content: url("/img/icon/icon_menu_blue.png");
}

.icon-message::before {
    content: url("/img/icon/icon_message_grey.png");
}

.icon-message:hover::before {
    content: url("/img/icon/icon_message_blue.png");
}

.select-message::before {
    content: url("/img/icon/icon_message_blue.png");
}

.icon-aide::before {
    content: url("/img/icon/icon_help_grey.png");
}

.icon-aide:hover::before {
    content: url("/img/icon/icon_help_blue.png");
}

.select-aide::before {
    content: url("/img/icon/icon_help_blue.png");
}

.icon-mdp::before {
    content: url("/img/icon/icon_security_grey.png");
}

.icon-mdp:hover::before {
    content: url("/img/icon/icon_security_blue.png");
}

.select-mdp::before {
    content: url("/img/icon/icon_security_blue.png");
}

.icon-document::before {
    content: url("/img/icon/icon_document_grey.png");
}

.icon-document:hover::before {
    content: url("/img/icon/icon_document_blue.png");
}

.select-document::before {
    content: url("/img/icon/icon_document_blue.png");
}

.select {
    border-right: 5px solid rgb(105, 201, 251);
    color: rgb(105, 201, 251);
    font-weight: bolder;
}

.icon-disconnect::before {
    display: flex;
    align-items: center;
    content: url("/img/icon/icon_disconnect_grey.png");
}

.icon-disconnect:hover::before {
    display: flex;
    align-items: center;
    content: url("/img/icon/icon_disconnect_blue.png");
}

/* MAIN */
.content {
    padding: 15px;
}

.text-blue {
    color: rgb(105, 201, 251);
}

.section {
    box-shadow: 0 3px 10px rgb(124, 173, 199, 0.5);
    background-color: transparent;
}

.section-center {
    box-shadow: 0 3px 10px rgb(124, 173, 199, 0.5);
    padding: 15px;
    text-align: center;
}

.link-blue {
    color: rgb(112, 112, 112);
}

.link-blue:hover {
    color: rgb(105, 201, 251);
}

.section-right {
    display: none;
    position: absolute;
    top: 310px;
    right: 2%;
    width: 20%;
}

.section-calendar {
    height: 350px;
}

.recap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recap-select {
    width: fit-content;
}

#myformRecap {
    width: fit-content;
}

.bloc-recap-home {
    margin-top: 20px;

}

.title-recap-home {
    font-size: smaller;
    font-weight: bolder;
    padding-left: 10px;
}

.p-recap-home {
    font-size: small;
    width: fit-content;
}

.bloc-recap-toggle {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 0.5em;
    padding-left: 10px;
    padding-bottom: 1.5em;
}

/*input[type="checkbox"].btn-toggle-1 {
    display: none;
}

input[type="checkbox"].btn-toggle-1+label {
    box-sizing: border-box;
    display: inline-block;
    width: 2rem;
    height: 1rem;
    border-radius: 1rem;
    padding: 2px;
    background-color: rgb(251, 105, 105);
    transition: all 0.5s;
    cursor: pointer;
}

input[type="checkbox"].btn-toggle-1+label::before {
    box-sizing: border-box;
    display: block;
    content: "";
    height: calc(1rem - 4px);
    width: calc(1rem - 4px);
   
    background-color: #fff;
    transition: all 0.5s;
}

input[type="checkbox"].btn-toggle-1:checked+label {
    background-color: green;
}

input[type="checkbox"].btn-toggle-1:checked+label::before {
    margin-left: 1rem;
}


.toggle{

    box-sizing: border-box;
    display: inline-block;
    width: 2rem;
    height: 1rem;
    border-radius: 1rem;
    padding: 2px;
    background-color: rgb(251, 105, 105);
    transition: all 0.5s;
    cursor: pointer;
}*/

/* PARENT */

/* input text PARENT / ENFANT */

.change-infos input[type="text"],
.change-infos input[type="password"] {
    border: 1px solid rgb(173, 213, 230, 0.5);
    margin: 2px 4px 2px 0;
}

.change-infos select,
.blue-select select {
    background-color: white;
    border: 1px solid rgb(173, 213, 230, 0.5);
    border-radius: 0;
}

.scroll {
    max-height: 650px;
    overflow-y: scroll;
    scrollbar-color: rgba(170, 170, 170, 0.5) white;
}

.small-scroll {
    max-height: 325px;
    overflow-y: scroll;
    scrollbar-color: rgba(170, 170, 170, 0.5) white;
}

.infos-parent li {
    padding-bottom: 12px;
}

.infos-parent .border-new-section {
    border-top: 1px solid rgb(173, 213, 230, 0.3);
    padding-top: 20px;
}

/* DOCUMENT */

.p-margin-none p {
    margin: 0px;
}

/* POP-UP */

/* Stylez et fixez le bouton sur la page */
.open-button,
.open-button:hover,
.open-button button {
    display: flex;
    justify-items: center;
    text-decoration: none;
    color: rgb(112, 112, 112);
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.open-button::before {
    content: url("/img/icon/icon_plus_blue.png");
    margin-right: 7px;
    padding: 0px 5px;
}

.open-button:hover::before {
    content: url("/img/icon/icon_plus_red.png");
    margin-right: 7px;
}

/* Masquez la forme Popup */

.form-popup {
    position: absolute;
    display: none;
    padding: 25px;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.popup-mentionslegales {
    position: absolute;
    top: 5%;
    height: 750px;
    display: none;
    padding: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.btn-mentionslegales {
    background-color: transparent;
    border: none;
}

.bg-blur {
    filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.close-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 10px;
    right: 10px;
}

/* input radio */

input[type="radio"].input-radio {
    display: none;
}

input[type="radio"].input-radio+label {
    padding: 0.5%;
    margin: 0.2%;
    color: rgb(116, 114, 114);
    border: 1px solid rgb(116, 114, 114);
}

input[type="radio"].input-radio:hover+label {
    border: 1.5px solid rgb(26, 25, 25);
}

input[type="radio"].input-radio:checked+label {
    border: 1px solid rgb(41, 184, 209);
    color: rgb(41, 184, 209);
}

/* MESSAGE */
.box-message-active {
    background-color: transparent;
    color: rgb(105, 201, 251);
    font-weight: bold;
    border: none;
    box-shadow: 0 3px 10px rgb(124, 173, 199, 0.5);
}

.box-message-inactive {
    color: rgb(112, 112, 112);
    border: none;
    background-color: transparent;
}
.lu_nonLu{
    text-decoration: none;  
}
/* TABLE (FACTURE / MENU) */

.table {
    width: 100%;
}

.section-table {
    height: fit-content;
}

.hidden {
    display: table-cell;
}

/* CALENDRIER */

.big-left {
    background-color: transparent;
    background-image: url("/img/icon/icon_big_left_grey.jpg");
    background-repeat: no-repeat;
    width: 14px;
    height: 27px;
    border: none;
}

.big-right {
    background-color: transparent;
    background-image: url("/img/icon/icon_big_right_grey.jpg");
    background-repeat: no-repeat;
    width: 14px;
    height: 27px;
    border: none;
}

.small-left {
    background-color: transparent;
    background-image: url("/img/icon/icon_small_left_grey.jpg");
    background-repeat: no-repeat;
    height: 20px;
    width: 10px;
    border: none;
}

.small-right {
    background-color: transparent;
    background-image: url("/img/icon/icon_small_right_grey.jpg");
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
    border: none;
}

.dayNow {
    display: flex;
    border: 1px solid rgb(112, 112, 112) !important;
    border-radius: 50px !important;
}

.day-clear-grey {
    color: rgb(180, 180, 180);
}

.date-title {
    color: rgb(112, 112, 112);
    font-size: medium;
}

.days-calendar {
    font-weight: lighter;
    color: rgb(112, 112, 112);
}

.calendar td,
.calendar th {
    border: none;
    font-size: smaller;
    text-align: center;
    justify-content: center;
    padding: 1%;
}

/* RECHARGER */

.tipi.form-popup {
    position: absolute;
    display: none;
    padding: 25px;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 250px;
}

.dropdown-border {
    background-color: white;
    border: 1px solid rgb(173, 213, 230, 0.5);
    border-radius: 0;
    padding: 5px;
}


.dropdown-menu.show {
    border-radius: 0;
    font-size: medium;
    color: rgb(112, 112, 112);
}

.dropdown-item {
    padding-left: 5px;
    font-size: 14px;
}

.dropdown-item:hover {
    color: rgb(112, 112, 112);
}

.btn-sm {
    padding: 0;
    font-size: medium;
    border: 0;
}

.btn.right.drop {
    width: 50px;
}

.recap-sold {
    font-size: 95%;
    height: 0.5rem;
}

.recap-sold-num {
    color: rgb(105, 201, 251);
    padding-top: 1em;
    font-size: medium;
    font-weight: bolder;
}

.recap_solde_dispo {
    color: rgb(105, 201, 251);
    font-size: medium;
    font-weight: smaller;

}

.qty-item {
    padding-left: 25px;
}

.separation-bar {
    border-top: 1px solid rgb(173, 213, 230, 0.3);
    padding-top: 8px;
}

.marginLabelBold {
    padding-top: 8px;
}

.titleLarge {
    font-size: large;
}

.reload-btn {
    height: 1.9rem;
    font-size: xx-small;
}

.fineTxtLabel {
    line-height: 1rem;
    font-size: medium;
}

.fineTxtLabelCb {
    font-size: small;
}

.line_height {
    line-height: 80%;
}

.txt_small {
    font-size: small;
}


/* NEW MESSAGE */

.objet-new-message,
.objet-new-message:focus {
    width: 80%;
    margin-left: 2%;
    border: 0;
    outline: none;
}

.textarea-new-message,
.textarea-new-message:focus {
    width: 100%;
    border: 0;
    height: 200px;
    margin-top: 2%;
    outline: none;
}

.etablissement-new-message {
    margin-left: 2%;
    background-color: transparent;
    border: 1px solid rgb(112, 112, 112);
}

.btn-file-new-message label::before {
    content: url("/img/icon/icon_paper_clip_grey.png");
    padding-right: 5px;
}

.btn-file-new-message label,
.btn-file-new-message::before {
    cursor: pointer;
    color: rgb(112, 112, 112);
}

.input-file-new-message {
    width: 100%;
}

.bg-CCCCCC {
    background-color: #CCCCCC !important;
}

.bg-B4F8A0 {
    background-color: #B4F8A0 !important;
}

.bg-00FF00 {
    background-color: #00FF00 !important;
}

.bg-FF0000 {
    background-color: #FF0000 !important;
}

.bg-FFFFFF {
    background-color: #FFFFFF !important;
}

.bg-666666 {
    background-color: #666666 !important;
}

.bg-E9E29B {
    background-color: #E9E29B !important;
}

.bg-2D8DC3 {
    background-color: #2D8DC3 !important;
}

/* MEDIA QUERIES */

/* Small devices (landscape phones, less than 768px) (bootstrap = sm)*/
@media screen and (max-width: 767px) {

    /* Landscape devices */
    @media only screen and (orientation: landscape) {
        .bg-img {
            height: 200%;
        }

        .connexion {
            width: 300px;
        }
    }

    .hidden {
        display: none;
    }

    .img-tipi {

        width: 300px;
        height: 200px;
    }

    .scroll {
        max-height: none;
        overflow-y: none;
    }
}

/* Medium devices (tablets, less than 992px) (bootstrap = md) */
@media screen and (min-width: 768px) {
    .logo {
        width: 25%;
    }

    header {
        height: 150px;
    }

    #navMobile {
        width: 50%;
    }

    @media only screen and (orientation: landscape) {
        .bg-img {
            height: 150%;
        }

        .connexion {
            width: 400px;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) (bootstrap = lg) */
@media screen and (min-width: 992px) {
    @media only screen and (orientation: landscape) {
        .bg-img {
            height: 100%;
        }

        .connexion {
            width: 500px;
        }
    }

    #navMobileLabel img {
        display: none;
    }

    .disconnect {
        display: block;
    }

    #navMobile {
        display: none;
    }

    #navDesktop {
        display: flex;
        position: absolute;
        top: 210px;
        height: 915px;
        background-color: white;
        padding-top: 125px;
        box-shadow: 0 3px 10px rgb(124, 173, 199, 0.5);
        left: 0px;
    }

    .logo {
        width: 15%;
    }

    header {
        height: 250px;
    }

    footer {
        position: absolute;
        left: 0;
        right: 0;
        top: 1100px;
    }

    .main {
        position: absolute;
        top: 210px;
        left: 18%;
    }

    .section-right {
        display: block;
    }

    .name {
        background-color: white;
        display: inline;
    }

    .content {
        border-right: 1px solid rgb(173, 213, 230, 0.3);
        padding: 15px;
    }
}