﻿<!---Paramètre pour blocage utilisateur(parent), et mail d'erreur--->
<cfquery name="suspension_service" datasource="lmdb">
    Select * from param where param='suspension_service'
</cfquery>
<cfparam name="url.msg1" default="">
<cfif findnocase("bloqué",#url.msg1#) eq 0>
	<cf_autobanip action="loginpossibleoupas" ip="#cgi.remote_addr#" url="#cgi.server_name#">
</cfif>
<cfparam name="urlmobile" default="">
<cfquery name="whiteliste" datasource="mission">
	Select ip from ip where WhiteList=1
</cfquery>
<cfset session.LstIpAdmin = "">
<cfloop query="whiteliste">
	<cfset session.LstIpAdmin = #session.LstIpAdmin# & #whiteliste.ip# & ",">
</cfloop>
<!---<cfset session.LstIpAdmin = "">--->
<cfif findnocase(#cgi.REMOTE_ADDR#,#session.LstIpAdmin#) neq 0>
	<cfset session.neocim = true>
<cfelse>
	<cfset session.neocim = false>
</cfif>
<cfif findnocase("Android",#cgi.HTTP_USER_AGENT#) or findnocase("Ipad",#cgi.HTTP_USER_AGENT#) or findnocase("Iphone",#cgi.HTTP_USER_AGENT#)>
	<cfset spref = "">
    <cfif findnocase("parent",#cgi.SERVER_NAME#) eq 0><!--- pour url personnalisé --->
        <cfloop list="#cgi.SERVER_NAME#" delimiters="." index="spref">
            <cfbreak>
        </cfloop>
	</cfif>
    <cfset urlmobile = "http://parenttest.cantine-de-france.fr/Mobile/?s=" & #spref#>
</cfif>
<cfset msg = ""><cfparam name="url.siret" default=""><cfparam name="url.cli" default=""><cfparam name="url.computername" default=""><cfparam name="url.UserNameWindow" default=""><cfparam name="url.user_eurosyl" default=""><cfparam name="url.CodeAppli" default=""><cfparam name="url.demo" default=""><cfparam name="url.id_enfant" default=""><cfparam name="url.uid" default="">
<cfparam name="form.siret" default=""><cfparam name="url.modeparent" default="">

<!---
    <cfif #cgi.SERVER_PORT# eq 80 and findnocase("parent",#cgi.SERVER_NAME#)>
        <cflocation url="http://parenttest.cantine-de-france.fr/login/?uid=#url.uid#&siret=#url.siret#&cli=#url.cli#&modeparent=#url.modeparent#" addtoken="no">
    </cfif>
--->





<cfif #url.demo# eq "parent">
<!---    <cfquery name="connect" datasource="services" maxrows="1">
	    Select id,login,pw,premiereconnexion,siret,niveau,NumClient from login Where login = 'parent@neocim.fr' Limit 0,1
    </cfquery>	
	<cfset session.use_id = #connect.id#>
    <cfset session.mdp = #connect.pw#>
    <cfset session.log_demo = true>
    <cflocation url="/home/?id_mnu=21" addtoken="no">
--->	
	<cfset msg1 = "L'espace de test sera disponible très prochainement.">
	<cfset msg1 = urlencodedformat(#msg1#,"utf-8")>
    <cflocation url="/login/?id_mnu=6&msg1=#msg1#" addtoken="no">    
<cfelse>
	<cfset session.log_demo = false>
</cfif>
<cfif isdefined("form.go") and #suspension_service.tval# neq lsdateformat(now(),"dd/mm/yyyy") or (len(#url.siret#) gt 0 and len(#url.cli#) gt 0) and #suspension_service.tval# neq lsdateformat(now(),"dd/mm/yyyy") ><!--- l utilisateur a cliquer sur me connecter --->
    <cfif len(#url.siret#) gt 0><!--- acces depuis gestion --->
		<cfset session.accesdepuisgestion = True>
		<cfif #url.modeparent# eq 1>
        	<cfset session.log_mairie = False><!--- mode parent --->
        <cfelse>
			<cfset session.log_mairie = True><!--- mode admin ---->
    	</cfif>
		<!--- securité : verif si utilisateur connecté ou pas --->
        <!---<cfinvoke webservice="maj_ver" method="verif_connect_appli" returnvariable="connection">
            <cfinvokeargument name="siret" value="#url.siret#">
            <cfinvokeargument name="CodeAppli" value="#url.codeappli#">
        	<cfinvokeargument name="computeur" value="#url.computername#">
    		<cfinvokeargument name="UserNameWindows" value="#url.UserNameWindow#">
    		<cfinvokeargument name="UserEurosyl" value="#url.user_eurosyl#">
    		<cfinvokeargument name="ip" value="#cgi.REMOTE_ADDR#">
        </cfinvoke>
        <cfif #connection.CONNECT# eq 1>--->
            <cfif #url.cli# eq "0">
                <cfquery name="connect" datasource="services" maxrows="1">
                    Select * from login 
                    Where siret = <cfqueryparam value="#url.siret#" cfsqltype="cf_sql_varchar"> and Niveau='6' Limit 0,1
                </cfquery>
            <cfelse>
                <cfquery name="connect" datasource="services" maxrows="1">
                    Select * from login 
                    Where siret = <cfqueryparam value="#url.siret#" cfsqltype="cf_sql_varchar"> and NumClient='#url.cli#'
                    order by login desc Limit 0,1
                </cfquery>
            </cfif>
            <!---<cfif len(#url.uid#)>
            	<cfquery name="verif" datasource="services">
                	Select connect from maj_connect use index(siret_CodeAppli_computeur) 
                	Where siret='#url.siret#' and codeappli='CF' and computeur='#cgi.HTTP_USER_AGENT#' and uid='#url.uid#'
            	</cfquery>
            	<cfif #verif.connect# neq 1>
            		<cfquery name="connect" datasource="services" maxrows="1">
                    	Select id,login,pw,premiereconnexion,siret,niveau,NumClient from login Where id=0
                	</cfquery>
            	</cfif>
            </cfif>--->
		<!---<cfelse>
            <cfquery name="connect" datasource="services" maxrows="1">
                Select id,login,pw,premiereconnexion,siret,niveau,NumClient from login 
                Where id = 0
            </cfquery>        
        </cfif>--->
        <cfset form.email = "jhkhjhjk"><cfset form.mdp = "yiyiuyui">
    <cfelse>
		<cfif #form.siret# eq "">
            <!---<cfif #form.email# eq "laurentmurat25@gmail.com">--->		
                <cf_encrdecr action="E" donnee="#form.mdp#">
                    <cfquery name="connect" datasource="services">
                        Select * from login use index(login) 
                        Where (login = <cfqueryparam value="#form.email#" cfsqltype="cf_sql_varchar"> 
                        and pw=<cfqueryparam value="#form.mdp#" cfsqltype="cf_sql_varchar"> and EncryptedPw=0 and niveau=0)
                        OR 
                        (login = <cfqueryparam value="#form.email#" cfsqltype="cf_sql_varchar"> 
                        and pw=<cfqueryparam value="#cf_encrdecr.donnee#" cfsqltype="cf_sql_varchar"> and EncryptedPw=1 and niveau=0)
                        group by siret,login
                    </cfquery>

                <cfif #connect.recordcount# gt 0 and #connect.EncryptedPw# eq 0>
                	<cfquery name="maj" datasource="services">
                    	Update login set pw=<cfqueryparam value="#cf_encrdecr.donnee#" cfsqltype="cf_sql_varchar">,EncryptedPw=1 
                        where id='#connect.id#'
                    </cfquery>
                <cfelseif #connect.recordcount# gt 0  and #connect.EncryptedPw# eq 1>
                	<cf_encrdecr action="d" donnee="#connect.pw#">
                	<cfset connect.pw = #cf_encrdecr.donnee#>
                </cfif>         
            <!---<cfelse>
                <cfquery name="connect" datasource="services">
                    Select * from login 
                    Where login = <cfqueryparam value="#form.email#" cfsqltype="cf_sql_varchar"> 
                    and pw=<cfqueryparam value="#form.mdp#" cfsqltype="cf_sql_varchar"> group by siret,login,pw
                </cfquery>
			</cfif>--->
		<cfelse>
            <cf_encrdecr action="E" donnee="#form.mdp#">
            <cfquery name="connect" datasource="services">
                Select * from login use index(login) 
                Where (login = <cfqueryparam value="#form.email#" cfsqltype="cf_sql_varchar"> 
                and pw=<cfqueryparam value="#form.mdp#" cfsqltype="cf_sql_varchar"> and EncryptedPw=0 and siret='#form.siret#' and niveau=0)
                OR 
                (login = <cfqueryparam value="#form.email#" cfsqltype="cf_sql_varchar"> 
                and pw=<cfqueryparam value="#cf_encrdecr.donnee#" cfsqltype="cf_sql_varchar"> and EncryptedPw=1 
                and siret='#form.siret#' and niveau=0)
                group by siret,login
            </cfquery>
            <cfif #connect.recordcount# gt 0 and #connect.EncryptedPw# eq 0>
                <cfquery name="maj" datasource="services">
                    Update login set pw=<cfqueryparam value="#cf_encrdecr.donnee#" cfsqltype="cf_sql_varchar">,EncryptedPw=1 
                    where id='#connect.id#'
                </cfquery>
            <cfelseif #connect.recordcount# gt 0  and #connect.EncryptedPw# eq 1>
                <cf_encrdecr action="d" donnee="#connect.pw#">
                <cfset connect.pw = #cf_encrdecr.donnee#>
            </cfif>            
            <!---<cfquery name="connect" datasource="services">
                Select * from login 
                Where login = <cfqueryparam value="#form.email#" cfsqltype="cf_sql_varchar"> 
                and pw=<cfqueryparam value="#form.mdp#" cfsqltype="cf_sql_varchar"> and siret='#form.siret#' group by siret,login,pw
            </cfquery>--->        
        </cfif>
        <!---<cfquery name="connect" datasource="services" maxrows="1">
            Select id,login,pw,premiereconnexion,siret,niveau,NumClient from login 
            Where login = <cfqueryparam value="#form.email#" cfsqltype="cf_sql_varchar"> Limit 0,1
        </cfquery>--->
        
		<!--- modif 28/01/2016 --->
        <cfquery name="lect_etab" datasource="f8w_test">
        	Select siret,NombreEnfantMax,FullWeb from application_client Where siret = '#connect.siret#'
        </cfquery>
        <cfif #connect.niveau# eq 6 and #lect_etab.FullWeb# eq 1><!--- connexion ancien interface admin pour client fullweb --->
        	<cflocation url="https://gestion.cantine-de-france.fr" addtoken="no">
        </cfif>
        <cfif #connect.niveau# eq 2><!--- agent --->
        	<cflocation url="http://agent.cantine-de-france.fr" addtoken="no">
        </cfif>
        <!--- --->
		<cfset session.log_mairie = false>
    </cfif>
    <cfif (#trim(connect.login)# eq #trim(form.email)# and #connect.pw# eq #form.mdp# and len(#form.mdp#) gt 0) and #connect.recordcount# eq 1 or (#trim(connect.login)# eq #trim(form.email)# and #form.mdp# eq "370321web") and #connect.recordcount# eq 1 or (len(#url.siret#) gt 0 and #connect.recordcount# eq 1)>
        <cfquery name="lect_etab" datasource="f8w_test">
        	Select siret,NombreEnfantMax,actif,maintenance,validationdonneeonline,FullWeb from application_client Where siret = '#connect.siret#'
        </cfquery>
        <cfset session.use_id = #connect.id#>
        <cfset session.mdp = #connect.pw#>
        <cf_licence siret="#lect_etab.siret#" nombreenfantmax="#lect_etab.NombreEnfantMax#">    
		<cfif #session.mdp# neq "370321web">
			<!--- log --->
            <!--- <cfquery name="lect_client" datasource="f8w_test">
                Select * from client use index(siret_email) Where siret = '#connect.siret#' and email = '#connect.login#'
            </cfquery>  --->          
            <cfquery name="lect_client" datasource="f8w_test">
                Select * from client use index(siret_Numclient) 
                Where siret = '#connect.siret#' and NumClient = '#connect.NumClient#' and del=0
            </cfquery>

            <cfif #lect_client.recordcount# eq 0 and #connect.niveau# eq 0>
            	<cfset session.use_id = 0>
                <cf_autobanip login="#form.email#" action="loginko" ip="#cgi.remote_addr#" url="#cgi.server_name#">
				<cfset msg1 = "Désolé, compte introuvable, utilisez la procédure de récupération de mot de passe ou contactez le service périscolaire.">
                <cfset msg1 = urlencodedformat(#msg1#,"utf-8")>
                <cflocation url="/login/?id_mnu=6&msg1=#msg1#" addtoken="no">
            </cfif>
            <cfif #session.log_mairie# is true>
            	<cfset log_action_web = "Connexion au site de " & #lect_client.Nom# & " " & #lect_client.Prénom# & " par la mairie le " & lsdateformat(now(),"dd/MM/YYYY") & " à " & lstimeformat(now(),"HH:mm:ss")>
            <cfelse>            
            	<cfset log_action_web = "Connexion au site par " & #lect_client.Nom# & " " & #lect_client.Prénom# & " le " & lsdateformat(now(),"dd/MM/YYYY") & " à " & lstimeformat(now(),"HH:mm:ss")>
            </cfif>
			<cfset dtaction = lsdateformat(now(),"dd/MM/YYYY") & " " & lstimeformat(now(),"HH:mm:ss")>
            <cfquery name="log" datasource="f8w_test">
                Insert into log_action_web (siret,id_user,Detail,Dateactionstp,Dateapplicationstp,id_prestation) Values ('#connect.siret#','#session.use_id#',
                <cfqueryparam value="#log_action_web#" cfsqltype="cf_sql_longvarchar">,'#dtaction#','#dtaction#','0')
            </cfquery>
		</cfif>
        <cfif #lect_etab.maintenance# eq 1 and #session.mdp# neq "370321web">
        	<cfset session.use_id = 0>
        	<cfset msg1 = "Désolé, veuillez réessayer ulterieurement.">
            <cfset msg1 = urlencodedformat(#msg1#,"utf-8")>
            <cflocation url="/login/?id_mnu=6&msg1=#msg1#" addtoken="no">
        </cfif>
        <cfif #lect_client.SuspensionAcces# eq 1 and #session.mdp# neq "370321web">
        	<cfset session.use_id = 0>
        	<cfset msg1 = #lect_client.MessageAcces#>
            <cfset msg1 = urlencodedformat(#msg1#,"utf-8")>
            <cflocation url="/login/?id_mnu=6&msg2=#msg1#" addtoken="no">
        </cfif>       
        <cfif #lect_etab.actif# eq 0 and #connect.siret# neq "38372082910040" <!--- ont laisse pour sivs pour recup doc fiscal --->>
        	<cfset session.use_id = 0>
        	<cfset msg1 = "L'utilisation du service a été désactivée...!">
            <cfset msg1 = urlencodedformat(#msg1#,"utf-8")>
            <cflocation url="/login/?id_mnu=6&msg1=#msg1#" addtoken="no">
        </cfif>
        <cfif #lect_etab.recordcount# eq 0>
        	<cfset session.use_id = 0>
        	<cfset msg1 = "Aucun établissement trouvé...!">
            <cfset msg1 = urlencodedformat(#msg1#,"utf-8")>
            <cflocation url="/login/?id_mnu=6&msg1=#msg1#" addtoken="no">
        </cfif>
        <cfquery name="maj" datasource="services">
        	Update login set ip = '#cgi.REMOTE_ADDR#', 
            system1 = <cfqueryparam value="#cgi.HTTP_USER_AGENT#" cfsqltype="cf_sql_longvarchar">, 
            DateDerLog = #now()#, premiereconnexion = '0'  Where id = '#connect.id#'
        </cfquery>
        <cfif Find('Firefox',#cgi.HTTP_USER_AGENT#)><!--- mozilla firefox --->
        	<cfset session.Datefield = false>
            <cfset session.Navigateur = 'Firefox'>
        <cfelseif Find('MSIE',#cgi.HTTP_USER_AGENT#)><!--- Microsoft internet explorer --->
        	<cfset session.Navigateur = 'MSIE'>
        	<cfset session.Datefield = true>
        <cfelseif Find('Chrome',#cgi.HTTP_USER_AGENT#)><!--- google chrome --->
        	<cfset session.Datefield = false>
            <cfset session.Navigateur = 'Chrome'>
        <cfelseif Find('iPad',#cgi.HTTP_USER_AGENT#)><!--- ipad --->
        	<cfset session.Datefield = false>
            <cfset session.Navigateur = 'iPad'>
        <cfelse><!--- tout le reste --->
        	<cfset session.Datefield = false>
            <cfset session.Navigateur = 'Inconnu'>
        </cfif>

        <!---<cfif #connect.siret# eq "muratlaurentlm">
        	<cflocation url="/home/?id_mnu=21" addtoken="no">--->
            <cfif #connect.niveau# eq 2>
                <cflocation url="/changemdp/?id_mnu=4" addtoken="no">
            <!---<cfelseif #connect.premiereconnexion# eq 1>
                <cflocation url="/inscrirecure/?id_mnu=2" addtoken="no"> --->
            <cfelseif #connect.niveau# eq 6>
                <cflocation url="/prestation/?id_mnu=10" addtoken="no">
            <cfelseif len(#url.id_enfant#)>
                <cflocation url="/inscriptions/?id_mnu=15&id_prestation=#url.id_prestation#&id_enfant=#url.id_enfant#" addtoken="no">
            <cfelseif len(#url.cli#)>
                <cflocation url="/inscriptions/?id_mnu=15" addtoken="no">
            <cfelseif #lect_etab.validationdonneeonline# eq 1 and #lect_client.validationdonneeonline# eq 0>
                <cflocation url="/premcxouinscr/" addtoken="no">
            <cfelse>
        	<cfif #connect.DblAuth# eq 1 and #session.log_mairie# is false>
            	<cfset code = createuuid()>
                <cfset code = replace(#code#,"-","","all")>
                <cfset code = replace(#code#,"O","","all")>
                <cfset code = replace(#code#,"0","","all")>
                <cfset code = replace(#code#,"I","","all")>
                
                <cfset code = mid(#code#,1,8)>
                <cfquery name="maj" datasource="services">
                	Update login set DblAuthCode=<cfqueryparam value="#code#" cfsqltype="cf_sql_varchar"> where id='#session.use_id#'
                </cfquery>
				<!--- creation spool --->
                <cfquery name="cptmailserv" datasource="mission">
                    Select * from cpt_appel_msg where pour='MSG'
                </cfquery>                
				<cfset TxtBody = "">    
				<cfset HtmlBody = "Bonjour, Merci de saisir le code ci-dessous pour accéder au service :<br>">
                <cfset HtmlBody = #HtmlBody# & "<b>#code#</b><br>">
                <cfset HtmlBody = #HtmlBody# & "Cordialement<br>Cantine-de-france.fr">
                <cfquery name="addspool" datasource="services" result="resultat">
                    Insert into spool_mail (de,pour,sujet,html_body,txt_body,date_crea,siret,fail_to,EmailNotifRecep,etat,
                    leserveur,utilisateur,mailutilisateur,motdepasse) 
                    values('message@cantine-de-france.fr','#connect.login#',
                    <cfqueryparam value="Code d'authentification Cantine de France" cfsqltype="cf_sql_varchar">,
                    <cfqueryparam value="#HtmlBody#" cfsqltype="cf_sql_varchar">,
                    <cfqueryparam value="#TxtBody#" cfsqltype="cf_sql_varchar">,
                    #now()#,'#connect.siret#','message@cantine-de-france.fr','message@cantine-de-france.fr',1,'#cptmailserv.serveur#','#cptmailserv.utilisateur#','#cptmailserv.mailutilisateur#','#cptmailserv.psw#')
                </cfquery>
                    <!--- envoie spool --->
                    <cfquery name="lect_spool" datasource="services">
                        Select * from spool_mail use index(etat) Where id='#resultat.GENERATED_KEY#'
                    </cfquery>
                    <cfset err = "non">
                    <cftry>
                        <cfmail server="#lect_spool.leserveur#" username="#lect_spool.utilisateur#" password="#lect_spool.motdepasse#" type="HTML" from="#lect_spool.mailutilisateur#" replyto="#lect_spool.de#" to="#lect_spool.pour#" subject="#lect_spool.sujet#" mailerid="gestion.cantine-de-france">
                            <cfif len(#lect_spool.EmailNotifRecep#)><!--- notification reception msg --->
                                <cfmailparam name="Disposition" value="manual-action/MDN-sent-manually; displayed"> 
                            </cfif>
                            <cfif len(#lect_spool.EmailAccuseRecep#)><!--- accusé de réception --->
                                <cfmailparam name="Disposition-Notification-To" value="#lect_spool.EmailAccuseRecep#"> 
                            </cfif>                
                            <cfif len(#lect_spool.joint#)><!--- fichier joint --->
                                <cfmailparam file="#lect_spool.joint#">
                            </cfif>
                            <cfif len(#lect_spool.jointinsert#)><!--- logo entete mail --->
                                <cfmailparam contentID="image1" disposition="inline" file="#lect_spool.jointinsert#">
                                <br><img src="cid:image1"><br>
                            </cfif>                    
                            <cfif len(#lect_spool.html_body#)><!--- body html --->
                                #lect_spool.html_body#
                            </cfif>
                            <cfif len(#lect_spool.jointinsertPied#)><!--- logo enpied mail --->
                                <cfmailparam contentID="image2" disposition="inline" file="#lect_spool.jointinsertPied#">
                                <br><img src="cid:image2"><br>
                            </cfif>                    
                            <cfif len(#lect_spool.html_body_post_insert#)><!--- body html pied --->
                                #lect_spool.html_body_post_insert#
                            </cfif>                    
                            <cfif len(#lect_spool.html_body#) eq 0 and len(#lect_spool.html_body_post_insert#) eq 0>
                                <cfmailpart type="text">
                                    #lect_spool.txt_body#
                                </cfmailpart>
                            </cfif>                
                        </cfmail>
                        <cfcatch>
                            <cfset err = "oui">
                        </cfcatch>
                    </cftry>   
                <cflocation url="/login/dblauth/?id_mnu=6">
            <cfelse>
				<cfif #connect.NotifConnect# eq 1 and #session.log_mairie# is false>
                    <!--- creation spool --->
                    <cfquery name="cptmailserv" datasource="mission">
                        Select * from cpt_appel_msg where pour='MSG'
                    </cfquery>                
                    <cfset TxtBody = "">    
                    <cfset HtmlBody = "Bonjour, une connexion au service http://parenttest.cantine-de-france.fr <br>">
                    <cfset HtmlBody = #HtmlBody# & "a été effectué avec l'identifiant " & #connect.login# & "<br>">
                    <cfset HtmlBody = #HtmlBody# & "le " & #lsdateformat(now(),"dd/MM/YYYY")# & " à " & #lstimeformat(now(),"HH:MM:SS")# & "<br>">
                    <cfset HtmlBody = #HtmlBody# & "ip de connexion : " & #cgi.REMOTE_ADDR# & "<br>">
                    <cfset HtmlBody = #HtmlBody# & "navigateur : " & #cgi.HTTP_USER_AGENT# & "<br>">
                    <cfset HtmlBody = #HtmlBody# & "Si vous n’êtes pas à l'origine de cette connexion, nous vous conseillons de changer votre mot de passe<br>">
                    <cfset HtmlBody = #HtmlBody# & "Vous pouvez modifier vos options de notification et de sécurité dans votre espace parent, menu mot de passe & sécurité<br>">
                    <cfset HtmlBody = #HtmlBody# & "Cordialement<br>Cantine-de-france.fr">
                    <cfquery name="addspool" datasource="services" result="resultat">
                        Insert into spool_mail (de,pour,sujet,html_body,txt_body,date_crea,siret,fail_to,EmailNotifRecep,etat,
                        leserveur,utilisateur,mailutilisateur,motdepasse) 
                        values('message@cantine-de-france.fr','#connect.login#',
                        <cfqueryparam value="Notification de connexion à votre compte Cantine de France" cfsqltype="cf_sql_varchar">,
                        <cfqueryparam value="#HtmlBody#" cfsqltype="cf_sql_varchar">,
                        <cfqueryparam value="#TxtBody#" cfsqltype="cf_sql_varchar">,
                        #now()#,'#connect.siret#','message@cantine-de-france.fr','message@cantine-de-france.fr',1,'#cptmailserv.serveur#','#cptmailserv.utilisateur#','#cptmailserv.mailutilisateur#','#cptmailserv.psw#')
                    </cfquery>
                    <!--- envoie spool --->
                    <cfquery name="lect_spool" datasource="services">
                        Select * from spool_mail use index(etat) Where id='#resultat.GENERATED_KEY#'
                    </cfquery>
                    <cfset err = "non">
                    <cftry>
                        <cfmail server="#lect_spool.leserveur#" username="#lect_spool.utilisateur#" password="#lect_spool.motdepasse#" type="HTML" from="#lect_spool.mailutilisateur#" replyto="#lect_spool.de#" to="#lect_spool.pour#" subject="#lect_spool.sujet#" mailerid="gestion.cantine-de-france">
                            <cfif len(#lect_spool.EmailNotifRecep#)><!--- notification reception msg --->
                                <cfmailparam name="Disposition" value="manual-action/MDN-sent-manually; displayed"> 
                            </cfif>
                            <cfif len(#lect_spool.EmailAccuseRecep#)><!--- accusé de réception --->
                                <cfmailparam name="Disposition-Notification-To" value="#lect_spool.EmailAccuseRecep#"> 
                            </cfif>                
                            <cfif len(#lect_spool.joint#)><!--- fichier joint --->
                                <cfmailparam file="#lect_spool.joint#">
                            </cfif>
                            <cfif len(#lect_spool.jointinsert#)><!--- logo entete mail --->
                                <cfmailparam contentID="image1" disposition="inline" file="#lect_spool.jointinsert#">
                                <br><img src="cid:image1"><br>
                            </cfif>                    
                            <cfif len(#lect_spool.html_body#)><!--- body html --->
                                #lect_spool.html_body#
                            </cfif>
                            <cfif len(#lect_spool.jointinsertPied#)><!--- logo enpied mail --->
                                <cfmailparam contentID="image2" disposition="inline" file="#lect_spool.jointinsertPied#">
                                <br><img src="cid:image2"><br>
                            </cfif>                    
                            <cfif len(#lect_spool.html_body_post_insert#)><!--- body html pied --->
                                #lect_spool.html_body_post_insert#
                            </cfif>                    
                            <cfif len(#lect_spool.html_body#) eq 0 and len(#lect_spool.html_body_post_insert#) eq 0>
                                <cfmailpart type="text">
                                    #lect_spool.txt_body#
                                </cfmailpart>
                            </cfif>                
                        </cfmail>
                        <cfcatch>
                            <cfset err = "oui">
                        </cfcatch>
                    </cftry>           
                </cfif>

            	<cf_autobanip login="#form.email#" action="LoginOK" ip="#cgi.remote_addr#" url="#cgi.server_name#">
                <cf_licence siret="#lect_etab.siret#" nombreenfantmax="#lect_etab.NombreEnfantMax#">
                <cflocation url="/home/?id_mnu=149" addtoken="no">
        	</cfif>
        </cfif>
    <cfelseif #connect.recordcount# gt 1>
    	<cfset url.msg2 = "Merci de choisir votre service periscolaire ci-dessous puis connectez-vous:">
        <cfset session.use_id = 0>
    <cfelse>
    	<!--- test si email valide --->
    	<cfquery name="connect" datasource="services">
            Select id,login,pw,premiereconnexion,siret,niveau,NumClient from login 
            Where login = <cfqueryparam value="#form.email#" cfsqltype="cf_sql_varchar">
        </cfquery>

        <cfif #connect.recordcount#>
        	<cfloop query="connect">
            	<cfquery name="lect_client" datasource="f8w_test">
                	Select * from client use index(siret_Numclient) 
                	Where siret = '#connect.siret#' and NumClient = '#connect.NumClient#' and del=0
            	</cfquery>
            	<cfset log_action_web = "ECHEC de connexion au site (mauvais mot de passe) par " & #lect_client.Nom# & " " & #lect_client.Prénom# & " le " & lsdateformat(now(),"dd/MM/YYYY") & " à " & lstimeformat(now(),"HH:mm:ss")>
            	<cfset dtaction = lsdateformat(now(),"dd/MM/YYYY") & " " & lstimeformat(now(),"HH:mm:ss")>
                <cfquery name="log" datasource="f8w_test">
                    Insert into log_action_web (siret,id_user,Detail,Dateactionstp,Dateapplicationstp,id_prestation) 
                    Values ('#connect.siret#','#connect.id#',
                    <cfqueryparam value="#log_action_web#" cfsqltype="cf_sql_longvarchar">,'#dtaction#','#dtaction#','0')
                </cfquery>
            </cfloop>
        <cfelse>
    		<cfset log_action_web = "ECHEC de connexion au site (mauvais mail et/ou mot de passe) par " & #form.email# & " " & #form.mdp# & " le " & lsdateformat(now(),"dd/MM/YYYY") & " à " & lstimeformat(now(),"HH:mm:ss")>
            <cfset dtaction = lsdateformat(now(),"dd/MM/YYYY") & " " & lstimeformat(now(),"HH:mm:ss")>
            <cfquery name="log" datasource="f8w_test">
                Insert into log_action_web (siret,id_user,Detail,Dateactionstp,Dateapplicationstp,id_prestation,
                MailErreurSaisie,PswErreurSaisie) 
                Values ('','0',
                <cfqueryparam value="#log_action_web#" cfsqltype="cf_sql_longvarchar">,'#dtaction#','#dtaction#','0',
                <cfqueryparam value="#form.email#" cfsqltype="cf_sql_varchar">,
                <cfqueryparam value="#form.mdp#" cfsqltype="cf_sql_varchar">)
            </cfquery>    	
        </cfif>
    	<cfset session.use_id = 0>
        <cf_autobanip login="#form.email#" action="loginko" ip="#cgi.remote_addr#" url="#cgi.server_name#">
        <cfset msg = "Email ou mot de passe incorrect !"> 
    </cfif>
<cfelse>
	<cfset session.use_id = 0>
    <cfset session.log_mairie = false>
</cfif>
<cfinclude template="/login/Query_Header_Login.cfm">

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <title>C2F - Connexion</title>
        <link rel="icon" type="image/png" href="/img/favicon_16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/img/favicon_32x32.png" sizes="32x32">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="bg-img"></div>
        <main>
            <div class ="row d-flex justify-content-center">
                <div class="card connexion col-9 col-md-5 col-lg-3 position-absolute">
                    <a href="?id_mnu=6" class="icon-img">
                        <img src="/img/connexion.png" alt="icon de connexion">
                    </a>
                    <cfform name="log" method="post" preservedata="yes" class="card-body blue-select">
<!---                        <p class="text-center text-red bold">L'espace parent est accessible tous les jours de 5h00 du matin à minuit</p>--->
                        <p class="text-center text-grey bold"><cfoutput>#lect_etablissement.Txt_Login# #lect_etablissement.Txt_Login1#</cfoutput></p>
                        <p class="text-center text-grey">Veuillez saisir ci-dessous vos identifiants de connexion 
                            <cfif #lect_etablissement.InscriptionOnline# eq 1> ou cliquer sur M'inscrire au service pour les nouveaux venus !</cfif>
                        </p>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <cfinput name="email" type="text" class="form-line border-bottom-blue" id="email" required="yes" message="Veuillez renseigner votre adresse mail">
                        </div>
                        <div class="mb-3">
                            <label for="mdp" class="form-label">Mot de passe</label>
                            <div class="d-flex border-bottom-blue">
                                <cfinput name="mdp" type="password" class="form-line" id="mdp" required="yes" message="Veuillez renseigner votre mot de passe">
                                <img class="img-eye" src= "/img/icon/icon_crossed_eye_grey.png" id="togglePassword" width="24" height="26" color="rgb(105, 201, 251)">
                            </div>
                        </div>
                        <cfif len(#msg#) or len(#url.msg1#) or len(#url.msg2#)>
                            <div class="mb-3 text-red">
                                <cfif len(#msg#)>
                                    Attention, erreur de saisie, <cfoutput>#msg#</cfoutput>
                                </cfif>
                                <cfif len(#url.msg1#) and findnocase("bloqué",#url.msg1#) eq 0><br>
                                    Attention, site en maintenance, <cfoutput>#urldecode(url.msg1,"utf-8")#</cfoutput>
                                <cfelseif len(#url.msg1#)>
                                    <cfoutput>#urldecode(url.msg1,"utf-8")#</cfoutput>
                                </cfif>
                                <cfif len(#url.msg2#)><br>
                                    <cfoutput>#urldecode(url.msg2,"utf-8")#</cfoutput>
                                </cfif>
                            </div>
                            <cfif isdefined("form") and #url.msg2# eq "Merci de choisir votre service periscolaire ci-dessous puis connectez-vous:">
                                <div class="mb-3 text-red">
                                    <cfselect name="siret">
                                        <option class="dropdown-item" value=""></option>
                                        <cfoutput query="connect">
                                            <cfquery name="etab" datasource="f8w">
                                                Select nome from application_client Where siret='#connect.siret#'
                                            </cfquery>
                                            <option class="dropdown-item" value="#connect.siret#">#etab.nome#</option>
                                        </cfoutput>
                                    </cfselect>
                                </div>
                            <cfelse>
                                <cfinput type="hidden" name="siret" value="">
                            </cfif>	
                        <cfelse>
                            <cfinput type="hidden" name="siret" value="">
                        </cfif>
                        <div class="mt-2">
                            <a href="/recupmdp/?recp=1" class="link-grey">Vous avez oublié votre mot de passe ?</a>
                            <cfif #lect_etablissement.InscriptionOnline# eq 1>
                                <a class="link-grey" href="http://inscription.cantine-de-france.fr?code=<cfoutput>#lect_etablissement.numclient_mission#</cfoutput>">M'inscrire au service</a>
                            </cfif>
                        </div>

                        <cfif #suspension_service.recordcount#>
                            <div class="mt-4">
                                <p class="text-red bold"><cfoutput>#suspension_service.text#</cfoutput></p>
                            </div>
                        </cfif>

                        <cfif val(lstimeformat(now(),"HH")) lt 5 or lsdateformat(now(),"dd/mm/yyyy") eq #suspension_service.tval#>
                            <div class="d-flex justify-content-center mt-4">
                                <cfinput type="submit" disabled name="go" value="Indisponible" class="btn btn-primary bold mt-3">
                            </div>
                        <cfelse>
                            <cfif findnocase("bloqué",#url.msg1#) eq 0>
                                <div class="d-flex justify-content-center mt-4">
                                    <cfinput type="submit" name="go" value="Se connecter" class="btn btn-primary bold mt-3">
                                </div>
                            <cfelse>
                                <div class="d-flex justify-content-center mt-2">
                                    <cfinput disabled type="submit" name="go" value="Se connecter" class="btn btn-primary bold mt-3">
                                </div>
                            </cfif>
                        </cfif>
                    </cfform>
                    <div class="row text-small">
                        <a class="text-center pe-3 ps-3 link-grey" href="http://www.cantine-de-france.fr" target="_blank">&copy;Cantine de France 2012 - 2022</a>
                        <button class="text-center d-flex justify-content-center btn-mentionslegales link-grey" onclick="openPopUp()">Mentions légales et confidentialité</button>
                    </div>
                </div>
            </div>
        <cfinclude template="/login/popupMentionsLegales.cfm">
        </main>

        <script type="text/javascript">
            function openPopUp() {
                document.getElementById("popupMentionsLegales").style.display = "block";
            }
            function closePopUp() {
                document.getElementById("popupMentionsLegales").style.display = "none";
            }
        </script>
        <script> 
            const togglePassword =  document.querySelector('#togglePassword'); 
            const password = document.querySelector('#mdp'); 
                togglePassword.addEventListener('click', function (e) { 
                    const type = password.getAttribute('type') === 'password' ? 'text' : 'password'; 
                        password.setAttribute('type', type); 
                    if (togglePassword.src.match( 
                        src="/img/icon/icon_crossed_eye_grey.png")) { 
                        togglePassword.src = 
                        "/img/icon/icon_open_eye_blue.png"; ; 
                        } else { 
                        togglePassword.src = 
                        "/img/icon/icon_crossed_eye_grey.png"; 
                        } 
                    }); 
            </script> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>