﻿<div class="tipi form-popup card" id="popupFormReload">
    <button class="close-btn" onclick="closePopUp()"><img src="/img/icon/icon_close.png" alt="image de croix pour fermer la fenêtre"></button>    

    <img class="img-tipi" src="/img/tipi_budget.jpg" alt="image payfip">
   
</div>