﻿<cfif findnocase("gestion.",#cgi.SERVER_NAME#)><!--- espace gestion --->
	<cfset espace = "gestion">
<cfelse><!--- espace parent --->
    <cfset espace = "parent">
</cfif>
<table width="<cfif #espace# eq "gestion">1000<cfelse>100%</cfif>" bgcolor="<cfif #espace# eq "gestion">#08A2EC <cfelse> #C6D580</cfif>" cellspacing="1">
		<cfif #espace# eq "gestion">
            <tr bgcolor="#D4FBFF">
                <td width="78" class="libelle"><b>Date</b></td>
                <td width="98" class="libelle"><b>N°</b></td>
                <td width="85" class="libelle"><b>Facturé</b></td>
                <td width="121" align="center"><font face="Arial, Helvetica, sans-serif" size="-1"><b>Payé</b></font></td>
                <td width="478" class="libelle"><b>Information</b></td>
                <td width="19">&nbsp;</td>
            </tr>
		<cfelse><!--- parent --->
            <tr bgcolor="#ADB96E">
                <td width="95" class="libelle"><b>Date</b></td>
                <td width="100" class="libelle"><b>N°</b></td>
                <td width="100" class="libelle"><b>Facturé</b></td>
                <td width="180" align="center"><font face="Arial, Helvetica, sans-serif" size="-1"><b>Payé</b></font></td>
                <td class="libelle"><b>Information</b></td>
                <td width="19">&nbsp;</td>
            </tr>        
        </cfif>        
		<cfoutput>
            <tr>
            <td colspan="6">
                <iframe name="listeregle" id="listeregle" scrolling="auto" width="100%" height="<cfif #espace# eq "gestion">250<cfelse>400</cfif>" src="/commun/EncaissementTableauLst.cfm?numclient=#parent.numclient#&numetablissement=#url.numetablissement#&siret=#lect_user.siret#&siretparent=#parent.siret#&idparent=#url.idparent#&numparent=#parent.numclient#&sess=#session.use_id#&id=#url.id###n#url.n#"></iframe>
            </td>
            </tr>
		</cfoutput>
            <cfform name="hgghjgj">
                <tr>
                <td colspan="2" align="center">
                	<cfif #espace# eq "gestion">
						<cfif #parent.recordcount# eq 0>
                            <img src="/commun/boutonimprimeGris.gif" width="97" height="19" border="0" />
                        <cfelse>
                            <a title="Imprimer le détail du compte client avec solde" href="/app/content/edition/encaissement/detfactpaie/?id=<cfoutput>#parent.id#</cfoutput>" target="_blank"><img src="/commun/boutonimprime.gif" width="97" height="19" border="0" /></a>
                        </cfif>                                
					<cfelse>
                    	&nbsp;&nbsp;&nbsp;
                    </cfif>
                </td>
                <td class="zoneinput" align="right"><cfinput title="Facturé" name="totfac" readonly="yes" value="#numberformat(NewSolde.TotFact,'999999.99')#" size="8"></td>
                <td class="zoneinput" align="center"><cfinput title="Payé" name="totenc" readonly="yes" value="#numberformat(NewSolde.TotEnc,'999999.99')#" size="8"></td>
                <td class="libelle" align="right">Solde : 
                <cfif #NewSolde.Solde# eq 0>
                	<cfinput name="solde" readonly="yes" value="#numberformat(NewSolde.Solde,'999999.99')#" size="5">
                <cfelseif #NewSolde.Solde# lt 0>
                	<cfinput style="color:##00F" name="solde" readonly="yes" value="#numberformat(NewSolde.Solde,'999999.99')#" size="6">
                <cfelse>
                	<cfinput style="color:##F00" name="solde" readonly="yes" value="#numberformat(NewSolde.Solde,'999999.99')#" size="6">
                </cfif>
                </td>
                <td>&nbsp;</td>
                </tr>
			</cfform>