﻿<table width="920" border="0" cellspacing="1" cellpadding="0">
  <tr>
    <td bgcolor="#CCCCCC" width="129">&nbsp;<b>Date</b></td>
    <td bgcolor="#CCCCCC" width="211"><b>Prestation</b></td>
    <td bgcolor="#CCCCCC" width="72"><b>Pour le</b></td>
    <td bgcolor="#CCCCCC" width="192"><b>Enfant</b></td>
    <td bgcolor="#CCCCCC" width="59"><b>Action</b></td>
    <td bgcolor="#CCCCCC" align="center" width="50"><b>Qte Préc.</b></td>
    <td bgcolor="#CCCCCC" align="center" width="47"><b>Qte Ajou.</b></td>
    <td bgcolor="#CCCCCC" align="center" width="55"><b>Qte Nouv.</b></td>
    <td bgcolor="#CCCCCC" width="78"><b>Fait par</b></td>
    <td bgcolor="#CCCCCC" width="16">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="9"><cfoutput><!---<iframe name="dettic" src="/app/content/histoticketdet.cfm?idenfant=#url.idenfant#&id_prestation=#url.id_prestation#" width="100%" height="650" scrolling="yes"></iframe>--->
	<iframe name="dettic" src="/commun/histoticketdet.cfm?idenfant=#url.idenfant#&id_prestation=#url.id_prestation#" width="100%" height="650" scrolling="yes"></iframe>
	</cfoutput></td>
  </tr>
</table>
