﻿<cfparam name="Attributes.siret">
<cfparam name="NombreEnfantMax" default="0">    
<cfquery name="enfantlicence" datasource="f8w">
    Select id from enfant use index(siret) where siret='#Attributes.siret#' and parti=0 and del=0
</cfquery>
<cfquery name="enfantdouble" datasource="f8w">
    Select id from enfant use index(siret) where siret='#Attributes.siret#' and MemeEnfantQue<>'' and parti=0 and del=0 
    Group by MemeEnfantQue
</cfquery>
<cfset enfantactifreel = #enfantlicence.recordcount# - #enfantdouble.recordcount#>
<cfif #enfantactifreel# gte #Attributes.NombreEnfantMax#>
    <cfset session.NombreEnfantMax = true>
<cfelse>
    <cfset session.NombreEnfantMax = false>
</cfif>  
<cfset Caller.cf_Licence.Retour = #enfantactifreel#>