﻿<cfif isdefined("url.CFGRIDKEY")>
    <cfset url.id = #url.CFGRIDKEY#>
    <cfif isdefined("url.noclassactive")>
        <cfif isdefined("url.espaceparentconso")>
            <cfif isdefined("url.ide")>
                <cflocation url="/NewEdFact/AffFacture.cfm?id=#url.id#&role=#url.role#&espaceparentconso=1&ide=#url.ide#" addtoken="no">
            <cfelse>    
                <cflocation url="/NewEdFact/AffFacture.cfm?id=#url.id#&role=#url.role#&espaceparentconso=1" addtoken="no">
            </cfif>
        <cfelse>
            <cfif isdefined("url.ide")>
                <cflocation url="/NewEdFact/AffFacture.cfm?id=#url.id#&espaceparentfacture=1&sess=#url.sess#&ide=#url.ide#" addtoken="no">
            <cfelse>
                <cflocation url="/NewEdFact/AffFacture.cfm?id=#url.id#&espaceparentfacture=1&sess=#url.sess#" addtoken="no">
            </cfif>
        </cfif>
    </cfif>
</cfif>
<cfif isdefined("url.id") or isdefined("url.ide")>
    <cfif isdefined("url.ide")>
        <!---
            <cfquery name="lect_doc" datasource="classactive">
                Select * from documents where id='#url.id#' and ide='#url.ide#' <cfif isdefined("url.valdoc")>and validé=0</cfif>
            </cfquery> 
        --->
            <cfquery name="lect_doc" datasource="classactive">
                Select * from documents where id='#url.id#' <cfif isdefined("url.valdoc")>and validé=0</cfif>
            </cfquery>
           
    <cfelse><!--- a supprimer après deploement --->
        <cfquery name="lect_doc" datasource="classactive">
            Select * from documents where id='#url.id#' <cfif isdefined("url.valdoc")>and validé=0</cfif>
        </cfquery>
    </cfif>    
    <cfif #lect_doc.recordcount#>
        <cfif len(#lect_doc.ChemDoc#)>
            <cflocation url="#lect_doc.ChemDoc#" addtoken="no">
        <cfelse>
            <cfset b = BinaryDecode(#lect_Doc.Document#,"Base64")>
            <cfif find(".",#lect_doc.extention#)>
                <cfset fichier = createuuid() & #lect_doc.extention#>
            <cfelse>
                <cfset fichier = createuuid() & "." & #lect_doc.extention#>    
            </cfif>        
            <cffile action="write" file="C:\TempWeb\#fichier#" output="#b#">
            <cflocation url="/print/#fichier#" addtoken="no">
        </cfif>
    </cfif>
</cfif>                    