﻿<cfset msg = "">
<cfset msg1 = "">
<cf_autobanip action="loginpossibleoupas" ip="#cgi.remote_addr#" url="#cgi.server_name#">
<cfif isdefined("form.go") and len(#form.email#)>
    <cfquery name="connect" datasource="services">
		Select * from login use index(login) 
        Where login = <cfqueryparam value="#form.email#" cfsqltype="cf_sql_varchar"> and niveau=0 <!---group by siret,pw--->
	</cfquery>
    <cfif #connect.recordcount# gt 0>
		<!--- modif 20/01/2016 --->
        <cfquery name="cptmailserv" datasource="mission">
            Select * from cpt_appel_msg where pour='MSG'
        </cfquery>
    	<!--- --->    
    	<cfloop query="connect">
            <cfquery name="etablissement" datasource="f8w_test">
                Select * from application_client use index(siret) where siret='#connect.siret#'
            </cfquery>
            <cfif #etablissement.actif# eq 1>
                <cfquery name="lect_client" datasource="f8w_test">
                    Select id,password from client use index(siret_Numclient) 
                    Where siret = '#connect.siret#' and NumClient = '#connect.NumClient#' and del=0
                </cfquery>
            	<cfif #lect_client.recordcount# or #connect.niveau# gt 0>
                	<cfset NewUidRecPsw = createuuid()>
					<cfif #connect.pw# eq "">
                    	<cfif #lect_client.password# eq "">
                        	<cfset connect.pw = createuuid()>
            				<cfset connect.pw = right(#connect.pw#,8)>
                            <cfquery name="maj" datasource="services">
                            	Update login set pw='#connect.pw#',UidRecPsw='#NewUidRecPsw#' where id='#connect.id#'
                            </cfquery>
                        	<cfquery name="maj" datasource="f8w_test">
                    			Update client set password='#connect.pw#' where id='#lect_client.id#'
                    		</cfquery>
                        <cfelse>
                        	<cfset connect.pw = #lect_client.password#>
                            <cfquery name="maj" datasource="services">
                            	Update login set pw='#lect_client.password#',UidRecPsw='#NewUidRecPsw#' where id='#connect.id#'
                            </cfquery>
                        </cfif>
                    <cfelseif #lect_client.password# eq "">
                    	<cfquery name="maj" datasource="f8w_test">
                    		Update client set password='#connect.pw#' where id='#lect_client.id#'
                    	</cfquery>
                        <cfquery name="maj" datasource="services">
                            Update login set UidRecPsw='#NewUidRecPsw#' where id='#connect.id#'
                        </cfquery>
                    <cfelse>
                        <cfquery name="maj" datasource="services">
                            Update login set UidRecPsw='#NewUidRecPsw#' where id='#connect.id#'
                        </cfquery>                    
                    </cfif>
					<!--- creation spool --->
					<cfset TxtBody = "">
                    
					<!---<cfset HtmlBody = "Bonjour,<br>Votre mot de passe pour " & #etablissement.PourLienEspaceParent# & " (" & #etablissement.Nome# & "), utilisateur #form.email# est : #connect.pw# <br> <br>Nous vous conseillons de vous connecter et de changer votre mot de passe. <br>Cordialement <br>Cantine-de-france.fr">--->
                    <cfset HtmlBody = "<html><p>Bonjour, vous avez demandé a réinitialiser votre mot de passe sur https://parent.cantine-de-france.fr pour <b>" & #etablissement.nome# & "</b></p>">
					<cfset HtmlBody = #HtmlBody# & "<p>Merci de cliquer sur le lien ci-dessous afin de créer un nouveau mot de passe :</p>">
					<cfset HtmlBody = #HtmlBody# & "<p><a href='https://parent.cantine-de-france.fr/changemdp/?id_mnu=4&UidRecPsw=#NewUidRecPsw#'>https://parent.cantine-de-france.fr/changemdp/?id_mnu=4&UidRecPsw=#NewUidRecPsw#</a></p>">
                    <cfset HtmlBody = #HtmlBody# & "<p>Cordialement</p><p>Cantine-de-france.fr</p></html>">
                    
                    <cfset TxtBody = "Bonjour, vous avez demandé a réinitialiser votre mot de passe sur https://parent.cantine-de-france.fr pour " & #etablissement.nome# & #chr(13)#>
					<cfset TxtBody = #TxtBody# & "Merci de copier le lien ci-dessous dans la barre d'adresse de votre navigateur afin de créer un nouveau mot de passe :" & #chr(13)#>
					<cfset TxtBody = #TxtBody# & "https://parent.cantine-de-france.fr/changemdp/?id_mnu=4&UidRecPsw=" & #NewUidRecPsw# & #chr(13)#>
                    <cfset TxtBody = #TxtBody# & "Cordialement" & #chr(13)# & "Cantine-de-france.fr">

                    <cfquery name="addspool" datasource="services" result="resultat">
                        Insert into spool_mail (de,pour,sujet,html_body,txt_body,date_crea,siret,fail_to,EmailNotifRecep,etat,
                        leserveur,utilisateur,mailutilisateur,motdepasse) 
                        values('message@cantine-de-france.fr','#form.email#',
                        <cfqueryparam value="#etablissement.Nome#, Création d'un nouveau mot de passe" cfsqltype="cf_sql_varchar">,
                        <cfqueryparam value="#HtmlBody#" cfsqltype="cf_sql_varchar">,
                        <cfqueryparam value="#TxtBody#" cfsqltype="cf_sql_varchar">,
                        #now()#,'#etablissement.siret#','#etablissement.EmailE#','#etablissement.EmailE#',1,'#cptmailserv.serveur#','#cptmailserv.utilisateur#','#cptmailserv.mailutilisateur#','#cptmailserv.psw#')
                    </cfquery>
                    <!--- envoie spool --->
                    <cfquery name="lect_spool" datasource="services">
                        Select * from spool_mail use index(etat) Where id='#resultat.GENERATED_KEY#'
                    </cfquery>
                    <cfset err = "non">
                    <cftry>
                        <cfmail server="#lect_spool.leserveur#" username="#lect_spool.utilisateur#" password="#lect_spool.motdepasse#" type="HTML" from="#lect_spool.mailutilisateur#" to="#lect_spool.pour#" subject="#lect_spool.sujet#" mailerid="gestion.cantine-de-france">
                            <cfif len(#lect_spool.EmailNotifRecep#)><!--- notification reception msg --->
                                <cfmailparam name="Disposition" value="manual-action/MDN-sent-manually; displayed"> 
                            </cfif>
                            <cfif len(#lect_spool.EmailAccuseRecep#)><!--- accusé de réception --->
                                <cfmailparam name="Disposition-Notification-To" value="#lect_spool.EmailAccuseRecep#"> 
                            </cfif>                
                            <cfif len(#lect_spool.joint#)><!--- fichier joint --->
                                <cfmailparam file="#lect_spool.joint#">
                            </cfif>
                            <!--- logo entete mail --->
                            <!---<cfif len(#lect_spool.jointinsert#)>
                                <cfmailparam contentID="image1" disposition="inline" file="#lect_spool.jointinsert#">
                                <br><img src="cid:image1"><br>
                            </cfif>--->
                            <cfif len(#lect_spool.html_body#)><!--- body html --->
                                <cfmailpart type="html">
                                    #lect_spool.html_body#
                                </cfmailpart>
                            </cfif>
                            <!--- logo enpied mail --->
                            <!---<cfif len(#lect_spool.jointinsertPied#)>
                                <cfmailparam contentID="image2" disposition="inline" file="#lect_spool.jointinsertPied#">
                                <br><img src="cid:image2"><br>
                            </cfif>--->
                            <cfif len(#lect_spool.html_body_post_insert#)><!--- body html pied --->
                                #lect_spool.html_body_post_insert#
                            </cfif>
                            <!---<cfif len(#lect_spool.html_body#) eq 0 and len(#lect_spool.html_body_post_insert#) eq 0>
                                <cfmailpart type="text">
                                    #lect_spool.txt_body#
                                </cfmailpart>
                            </cfif>--->
                            <cfif len(#lect_spool.txt_body#)>
                                <cfmailpart type="text">
                                    #lect_spool.txt_body#
                                </cfmailpart>
                            </cfif>
                        </cfmail>
                        <cfcatch>
                            <cfset err = "oui">
                        </cfcatch>
                    </cftry>
                    <cfif #err# eq "non">
                        <cfquery name="maj" datasource="services">
                            Update spool_mail set etat = 1 Where id = #lect_spool.id#
                        </cfquery>
                        <cfset msg1 = "Le mail a bien été envoyé sur " & #form.email# & "<br>MERCI DE VERIFIER VOTRE DOSSIER SPAM...">
                    <cfelse>
                        <cfmail type="html" server="#lect_spool.leserveur#" username="#lect_spool.utilisateur#" password="#lect_spool.motdepasse#" from="support@cantine-de-france.fr" to="#lect_spool.de#" bcc="support@neocim.fr" subject="Problème d'envoi de mail">
                            Bonjour, impossible d'envoyer le mail suivant : #chr(10)##chr(13)#
                            Objet : #lect_spool.sujet# #chr(10)##chr(13)#
                            Pour  : #lect_spool.pour# #chr(10)##chr(13)#
                            Message : #lect_spool.txt_body# #chr(10)##chr(13)#
                            #chr(10)##chr(13)#
                            Veuillez verifier la validité de l'adresse mail #lect_spool.pour# #chr(10)##chr(13)#
                            Cordialement #chr(10)##chr(13)#
                            Le support Cantine de Françe
                        </cfmail>
                        <cfquery name="maj" datasource="services">
                            Update spool_mail set etat = 2 Where id = #lect_spool.id#
                        </cfquery>
                        <cfset msg1 = "ATTENTION, impossible d'envoyer le mail sur " & #form.email# & "<br>MERCI DE VERIFIER VOTRE ADRESSE MAIL">
                    </cfif>
            	</cfif>
            </cfif>
		</cfloop>
    <cfelse>
    	<cf_autobanip login="#form.email#" action="loginko" ip="#cgi.remote_addr#" url="#cgi.server_name#">
    	<cfset session.use_id = 0>
        <cfset msg = "Email inconnu !"> 
    </cfif>
</cfif>
<cfinclude template="/Query_Header.cfm">

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>C2F - Mot de passe oublié</title>
        <link rel="icon" type="image/png" href="/img/favicon_16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/img/favicon_32x32.png" sizes="32x32">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <div class="bg-img"></div>
        <main>
            <div class="row d-flex justify-content-center">
                <div class="card connexion col-9 col-md-5 col-lg-3 position-absolute">
                    <cfif len(#msg1#)>
                        <a href="/login/?id_mnu=6" class="icon-img mt-4">
                            <img src="/img/message_submit.png" alt="icon message envoyé">
                        </a>
                        <p class="text-red pt-5"><cfoutput>#msg1#</cfoutput></p>
                        <a href="/login/?id_mnu=6" class="link-grey text-center pt-2 pb-3">Retour à la page de connexion</a>
                    <cfelse>
                        <a href="/login/?id_mnu=6" class="icon-img mt-4">
                            <img src="/img/connexion.png" alt="icon de connexion">
                        </a>
                        <p class="text-center text-grey pt-5"><span class="bold"> R&eacute;cup&eacute;rez votre mot de passe </span></p>
                        <p class="text-center text-grey">Veuillez saisir votre mail pour recevoir un email avec un lien.</p>
                        <cfform name="log" class="card-body pt-4" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">E-mail</label>
                                <cfinput name="email" type="text" class="form-line border-bottom-blue" id="email" required="yes"  message="Veuillez renseigner votre adresse mail">
                                <p class="text-red pt-5"><cfoutput>#msg#</cfoutput></p>
                            </div>
                            <div class="d-flex justify-content-center">
                                <cfinput type="submit" name="go" value="Envoyer" class="btn btn-primary bold">
                            </div>
                        </cfform>
                    </cfif>
                    <div class="row text-small">
                        <a class="text-center pe-3 ps-3 link-grey" href="http://www.cantine-de-france.fr" target="_blank">&copy;Cantine de France 2012 - 2022</a>
                        <button class="text-center d-flex justify-content-center btn-mentionslegales link-grey" onclick="openPopUp()">Mentions légales et confidentialité</button>
                    </div>
                </div>
            </div>
            <cfinclude template="/login/popupMentionsLegales.cfm">
        </main>

        <script type="text/javascript">
            function openPopUp() {
                document.getElementById("popupMentionsLegales").style.display = "block";
            }
            function closePopUp() {
                document.getElementById("popupMentionsLegales").style.display = "none";
            }
        </script>
        <cfif isdefined ("Form.go")>
            <cfif !isValid("email", form.email)> 
                <cfoutput>
                    <script type="text/javascript">
                        alert("Veuillez saisir une adresse mail valide.");
                    </script>
                </cfoutput>
            </cfif>
        </cfif>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>